body{
	background: #242742;
	margin-left: 50%;
	margin-right: 0px;
	overflow-x: hidden;
}

.layer{
	position: absolute;
	background-color: transparent;
	margin-left: -640px;
	top: 80px;
}

#Options{
	position: absolute;
	border: 2px solid black;
	position: absolute;
	background: #61AF77;
	width: 250px;
	top: 100px;
	margin-left: calc(50%);
	text-align: center;
}

#hide_options{
	position: absolute;
	width: 20px;
	height: 101%;
	margin-top: -1%;
	text-align: center;
	margin-left: -10px;
	background-color: rgba(0,0,0,0.5);
}

#matrix_sm{
	width: 90%;
	overflow: auto;
	margin-left: 5%;
	background: #F0F;
}

#logo{
	margin-left: -600px;
}

#txt-costl{
	position: absolute;
	margin-top: -45px;
	margin-left: 60px;
	color: #FFF;
	font: 24pt sans-serif;
}

#matrix_out{
	text-align: left;
	margin-left: 10px;
	width: 235px;
	height: 200px;
	overflow: auto;
	background: #FFF;
}

#matrix_reb{
	margin-left: 10px;
	width: 235px;
	height: 200px;
	overflow: auto;
	background: #FFF;
}

#txt_1{
	margin-top: 10px;
	height: 30px;
	margin-bottom: 10px;
	background: #FFF;
}

#txt_1_content{
	position: absolute;
	top: 17px;
	left: 10px;
	font: bold italic 11pt serif;
}

#txt_2_content{
	position: absolute;
	top: 265px;
	left: 50px;
	font: bold italic 90% serif;
}

#download_matrix{
	position: absolute;
	top: 13px;
	right: 13px;
}

#download_matrix_reb{
	position: absolute;
	top: 263px;
	right: 50px;
}

#settings{
	border: 2px solid black;
	background: #D7FBE1;
	margin: 10px;
	width: 95%;
}

#mass{
	margin-left: 5px;
}

#mass_1{
	visibility: hidden;
}

#terminal{
	position: fixed;
	height: 200px;
	width: 920px;
	margin-left: -460px;
	bottom: 27px;
	color: #fff;
	background: #000;
	opacity: 0.8;
	overflow: auto;

}

#comand_line{
	position: fixed;
	margin-left: -460px;
	border: 0px solid black;
	bottom: 5px;
	height: 22px;
	width: 920px;
	background: #000;
	opacity: 0.9;
}

#input_comand{
	font-size: 15px;
	position: fixed;
	border: none;
	bottom: 5px;
	height: 20px;
	width: 820px;
	color: #FFF;
	background: #000;
	resize: none;
}

#help_menu{
	overflow: hidden;
	border: 2px solid black;
	position: absolute;
	background:  #FFF;
	top: 175px;
	left: -210px;
	width: 255px;
	height: 40px;
	transition-property: left,height;
	transition-duration: 0.5s;
	transition-timing-function: linear;
}

#mode{
	margin-top: 10px;
	width: 150px;
}

#terminal_ico{
	position: absolute;
	top: 128px;
	left: 5px;
}

#settings_dop{
	margin-top: 5px;
	width: 250px;
	height: 0px;
}

#help_menu_dop{
	position: absolute;
	width: 40px;
	height: 40px;
	margin: 0;
	top: 0px;
	right: 2px;
}

#mass_next_reb_output{
	position: absolute;
	width: 38pt;
	background: #000;
	top: 95px;
	left: 3px;
	color: #F00;
	text-align: center;
	font: bold 18pt Sans-serif;
}

#download_graph_img{
	position: absolute;
	top: 50px;
	right: calc(50% - 630px);
}

#color_modul{
	width: 100%;
	text-align: center;
	font: 13pt sans-serif;
	border-top: 1px solid #000;
	margin-top: 10px;
	margin-left: 0;
	margin-right: 0;
	padding-top: 10px;
}

.modul{
	width: 100%;
	text-align: center;
	margin-top: 10px;
	margin-left: 0;
	margin-right: 0;
	padding-top: 10px;
	border-top: 4px solid #000;
	cursor: pointer;
	max-height: 30pt;
	overflow:hidden;
	font: 13pt sans-serif;
	transition-property: max-height;
	transition-duration: 0.5s;
	transition-timing-function: linear;
}

#inp_color{
	margin-right: 0px;
}
